/* css */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(90deg, #56CCF2 7%, #2F80ED 99%);
}


.container {
    gap: 10px;
    color: rgb(252, 255, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: auto;

}

footer {
    font-size: 12px !important;
    width: 100%;
    color: rgb(152, 148, 148);
    position: fixed;
    bottom: 0;
    background-color: rgb(240, 240, 240);
}

footer p {
    text-align: center;

}